@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(234,53,70);
    background: linear-gradient(75deg, rgba(234,53,70,1) 0%, rgba(248,102,36,1) 100%);
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: sans-serif; /*Fonte sem serifa*/
    flex-direction: column;
}

h1{
    margin-top: -20px;
    margin-bottom: 5px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.container{
    width: 80%;
    height: 40%;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(212, 132, 132, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
  
  .text-container{
    width: 80%;
    height: 20%;
    position: relative;
    background-color: white;
    margin: 30px;
    align-self: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
   }   

  nav{
      display: flex;
      justify-content: space-between; /*Cada lista em uma ponta*/
      padding: 15px 30px;  /*Espaço da margem 15px de cima pra baixo, 30 dos lados*/
      font-weight: bold; /*Negrito*/
      flex-wrap: wrap;
  }

  ul{
    list-style: none; /* Retira as bolinhas*/
    display: flex; /* Alinha tudo na horizontal*/
    color: white; /*Cor do texto*/
    padding: 0;
    flex-wrap: wrap;
    margin-top: 5px;
 }

 li {
     margin: 0 15px;  /*Cada item da lista tem 15px de margem para os lados*/
     display: flex;  /*Alinhados na horizontal*/
     align-items: center; /*Alinhados no centro*/
 }

 .active{
     background: #662E9B;
     padding: 3px 15px;
     border-radius: 15px;
     transition: 250ms;
 }

 .text{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     align-self: center;
     color: white;
     font-size: x-large;
     margin: 10px;
     font-style: italic;
 }

footer{
    padding: 0px 100px;
}

.purple-hover:hover{
    background-color: white;
    color: #662E9B;
}

.thumbs-down, .thumbs-up{
    transition: 250ms;
    padding: 3px 15px;
    border-radius: 15px;
    border: 2px white solid;
}

.thumbs-animation{
    animation: tUpDown-animation 0.9s both;
}

.thumbs-up-hover:hover{
    background-color: white;
    color: #52AA5E;
}

.thumbs-down-hover:hover{
    background-color: white;
    color: #FE5F55;
}

footer .thumbs-up, footer .thumbs-down{
    display: none;
}

.rotate-center{
    animation: rotate-center 0.6s ease-in-out both;
}

.social_icons ul{
    margin: 15px;
    list-style: none;
}

.social_icons li{
    margin: 5px;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 250ms;
}

.social_icons a{
    color: white;
}

.social_icons li:hover,
.social_icons li:hover ~ .social_icons li {
     transform: scale(1.05);
     border: solid 2px white;
 }

.social_icons:before{
    box-shadow: inset 0 0 2000px rgba(212, 132, 132, 0.5);
    filter: blur(10px);
    background: inherit;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-14 18:15:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

  @keyframes tUpDown-animation {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      10% {
        -webkit-transform: scale(0.91);
                transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      17% {
        -webkit-transform: scale(0.98);
                transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      33% {
        -webkit-transform: scale(0.87);
                transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      
  }

  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  
@media only screen and (max-width: 716px) {
    footer{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        justify-content: center;
        padding: 15px 0px;
    }
    nav .thumbs-up, nav .thumbs-down{
        display: none;
    }
    footer .thumbs-up, footer .thumbs-down{
        display: block;
    }
    .text-container{
        height: 30%;
    }
  }

  @media only screen and (max-width: 450px) {
    .text-container{
        height: 40%;
        text-align: center;
        justify-content: center;
    }
    .container{
        height: 50%;
    }
    h1{
        font-size: 2rem;
    }
  }

  @media only screen and (max-width: 250px) {
    .text-container{
        height: 50%;
    }
    .container{
        height: 60%;
    }
    h1{
        font-size: 1.5rem;
    }
  }

  @media only screen and (max-height: 600px) {
    .text-container{
        min-height: 50px;
    }
    .container{
        min-height: 250px;
    }
  }